@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

:root {
    --black: #252525;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.header {
    background-color: var(--black);
    color: white;

    padding-block: 18px;
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
    & .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 60px;
    }

    & .nav {
        display: flex;
        gap: 60px;
        font-size: 20px;
    }
}

/* Видео */
.video {
    overflow: hidden;
}

.video__src {
    width: 100%;
}